{{- /* Show taxonomy specific feeds first */ -}}
{{ if not .IsHome }}
    {{ $title := .Title }}
    {{ $title = printf "%s: %s" (.Type | singularize | humanize) .Title | plainify }}

    {{- with .OutputFormats.Get "Atom" }}
        {{ printf "<link href=%q rel=\"alternate\" type=%q title=\"%s (%s)\" />" .Permalink .MediaType $title (i18n "feed_desc_type_atom" | default "Atom/Modern feed format") | safeHTML }}
    {{- end -}}
    {{- with .OutputFormats.Get "JSONFeed" }}
        {{ printf "<link href=%q rel=\"alternate\" type=%q title=\"%s (%s)\" />" .Permalink .MediaType $title (i18n "feed_desc_type_json" | default "JSON/Alternate feed format") | safeHTML }}
    {{- end -}}
    {{- with .OutputFormats.Get "RSS" }}
        {{ printf "<link href=%q rel=\"alternate\" type=%q title=\"%s (%s)\" />" .Permalink .MediaType $title (i18n "feed_desc_type_rss" | default "RSS/Legacy feed format") | safeHTML }}
    {{- end -}}

    {{ if .IsTranslated }}
        {{ range .Translations }}
            {{ $title := .Title }}
            {{ $title = printf "%s: %s" (.Type | singularize | humanize) .Title | plainify }}
            {{- $lang := .Lang -}}
            {{- $langstr := .Language.LanguageName | default (.Lang | upper) -}}
            {{- with .OutputFormats.Get "Atom" }}
                {{ printf "<link href=%q rel=\"alternate\" type=%q hreflang=%q title=\"[%s] %s (%s)\" />" .Permalink .MediaType $lang $langstr $title (i18n "feed_desc_type_atom" | default "Atom/Modern feed format") | safeHTML }}
            {{- end -}}
            {{- with .OutputFormats.Get "JSONFeed" }}
                {{ printf "<link href=%q rel=\"alternate\" type=%q hreflang=%q title=\"[%s] %s (%s)\" />" .Permalink .MediaType $lang $langstr $title (i18n "feed_desc_type_json" | default "JSON/Alternate feed format") | safeHTML }}
            {{- end -}}
            {{- with .OutputFormats.Get "RSS" }}
                {{ printf "<link href=%q rel=\"alternate\" type=%q hreflang=%q title=\"[%s] %s (%s)\" />" .Permalink .MediaType $lang $langstr $title (i18n "feed_desc_type_rss" | default "RSS/Legacy feed format") | safeHTML }}
            {{ end -}}
        {{ end -}}
    {{ end -}}
{{ end -}}

{{- /* Always offer the visitor so subscribe to the central feeds on any page */ -}}
{{ with .Site.Home }}
    {{ $title := i18n "feed_desc_site_title" | default "All site contents" }}

    {{- with .OutputFormats.Get "Atom" }}
        {{ printf "<link href=%q rel=\"alternate\" type=%q title=\"%s (%s)\" />" .Permalink .MediaType $title (i18n "feed_desc_type_atom" | default "Atom/Modern feed format") | safeHTML }}
    {{- end -}}
    {{- with .OutputFormats.Get "JSONFeed" }}
        {{ printf "<link href=%q rel=\"alternate\" type=%q title=\"%s (%s)\" />" .Permalink .MediaType $title (i18n "feed_desc_type_json" | default "JSON/Alternate feed format") | safeHTML }}
    {{- end -}}
    {{- with .OutputFormats.Get "RSS" }}
        {{ printf "<link href=%q rel=\"alternate\" type=%q title=\"%s (%s)\" />" .Permalink .MediaType $title (i18n "feed_desc_type_rss" | default "RSS/Legacy feed format") | safeHTML }}
    {{- end -}}

    {{ if .IsTranslated }}
        {{ range .Translations }}
            {{ $title := i18n "feed_desc_site_title" | default "All site contents" }}
            {{- $lang := .Lang -}}
            {{- $langstr := .Language.LanguageName | default (.Lang | upper) -}}
            {{- with .OutputFormats.Get "Atom" }}
                {{ printf "<link href=%q rel=\"alternate\" type=%q hreflang=%q title=\"[%s] %s (%s)\" />" .Permalink .MediaType $lang $langstr $title (i18n "feed_desc_type_atom" | default "Atom/Modern feed format") | safeHTML }}
            {{- end -}}
            {{- with .OutputFormats.Get "JSONFeed" }}
                {{ printf "<link href=%q rel=\"alternate\" type=%q hreflang=%q title=\"[%s] %s (%s)\" />" .Permalink .MediaType $lang $langstr $title (i18n "feed_desc_type_json" | default "JSON/Alternate feed format") | safeHTML }}
            {{- end -}}
            {{- with .OutputFormats.Get "RSS" }}
                {{ printf "<link href=%q rel=\"alternate\" type=%q hreflang=%q title=\"[%s] %s (%s)\" />" .Permalink .MediaType $lang $langstr $title (i18n "feed_desc_type_rss" | default "RSS/Legacy feed format") | safeHTML }}
            {{ end -}}
        {{ end -}}
    {{ end -}}
{{ end }}
